In [90]:
import pandas as pd
from sklearn.metrics import confusion_matrix, classification_report
import sklearn.metrics

Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

I like cats more so I will use them as my positive class and dogs as my negative class

In the context of this problem, what is a false positive? predicting it was a cat when it was actually a dog

In the context of this problem, what is a false negative? predicting it was a dog when it was actaully a cat

How would you describe this model? I would say this model is pretty accurate in predicting the correct animal

In [10]:
true_pos = 34
true_neg = 46
false_pos = 7
false_neg = 13

In [16]:
# accuracy TP + TN / TP + TN + FP + FN
accuracy = (true_pos + true_neg) / (true_neg + true_pos + false_neg + false_pos)
print(accuracy * 100, '%')

80.0 %

In [21]:
# precision TP / TP + FP
precision = true_pos / (true_pos + false_pos)
print(round(precision * 100), '%')

83 %

In [22]:
# recall TP / TP + FN
recall = true_pos / (true_pos + false_neg)
print(round(recall * 100), '%')

72 %

You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. 
- Which evaluation metric would be appropriate here? Recall would be best so you don't accidentally send out defective duckies (to avoid false negatives)
- Which model would be the best fit for this use case? Model 3 would be best for this case as it had the highest recall percentage

In [41]:
df = pd.read_csv('c3.csv')

In [46]:
subset = df.actual == 'Defect'
subset

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196     True
197    False
198    False
199    False
Name: actual, Length: 200, dtype: bool

In [48]:
recall = df[subset]
recall

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [49]:
(recall.actual == recall.model1).mean()

0.5

In [50]:
(recall.actual == recall.model2).mean()

0.5625

In [51]:
(recall.actual == recall.model3).mean()

0.8125

- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. 
- Which evaluation metric would be appropriate here? Precision would be best to eliminate the as many false positives as possible
- Which model would be the best fit for this use case? Model 1 would be the best for this case

In [59]:
subset1 = df.model1 == 'Defect'
subset1

subset2 = df.model2 == 'Defect'

subset3 = df.model3 == 'Defect'

In [69]:
precision = df[subset1]

In [57]:
print((precision.actual == precision.model1).mean() * 100, '%')

80.0 %

In [68]:
precision2 = df[subset2]

In [66]:
print(round((precision2.actual == precision2.model2).mean() * 100), '%')

10 %

In [67]:
precision3 = df[subset3]

In [65]:
print(round((precision3.actual == precision3.model3).mean() * 100), '%')

13 %

You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline? Model 1 was the most accurate in predicting correctly

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recommend?
Models 1 and 2 are both very good for this with model 2 being fractionally better. 

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recommend?
Model 4 is the most precise when predicitng for only cats

In [96]:
new_df = pd.read_csv('gives_you_paws.csv')

In [97]:
new_df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [136]:
new_df.actual.value_counts()
new_df

     actual model1 model2 model3 model4 base cat_base
0       cat    cat    dog    cat    dog  dog      cat
1       dog    dog    cat    cat    dog  dog      cat
2       dog    cat    cat    cat    dog  dog      cat
3       dog    dog    dog    cat    dog  dog      cat
4       cat    cat    cat    dog    dog  dog      cat
...     ...    ...    ...    ...    ...  ...      ...
4995    dog    dog    dog    dog    dog  dog      cat
4996    dog    dog    cat    cat    dog  dog      cat
4997    dog    cat    cat    dog    dog  dog      cat
4998    cat    cat    cat    cat    dog  dog      cat
4999    dog    dog    dog    dog    dog  dog      cat

[5000 rows x 7 columns]

In [98]:
new_df['base'] = 'dog'

In [133]:
new_df['cat_base'] = 'cat'

In [105]:
print("Model 1 accuracy = ", round(sklearn.metrics.accuracy_score(new_df.actual, 
                                                                  new_df.model1, 
                                                                  normalize = True, 
                                                                  sample_weight = None), 2))
print("Model 2 accuracy = ", round(sklearn.metrics.accuracy_score(new_df.actual, 
                                                                  new_df.model2, 
                                                                  normalize = True, 
                                                                  sample_weight = None), 2))
print("Model 3 accuracy = ", round(sklearn.metrics.accuracy_score(new_df.actual, 
                                                                  new_df.model3, 
                                                                  normalize = True, 
                                                                  sample_weight = None), 2))
print("Model 4 accuracy = ", round(sklearn.metrics.accuracy_score(new_df.actual, 
                                                                  new_df.model4, 
                                                                  normalize = True, 
                                                                  sample_weight = None), 2))
print("Baseline accuracy = ", round(sklearn.metrics.accuracy_score(new_df.actual, 
                                                                  new_df.base, 
                                                                  normalize = True, 
                                                                  sample_weight = None), 2))

Model 1 accuracy =  0.81
Model 2 accuracy =  0.63
Model 3 accuracy =  0.51
Model 4 accuracy =  0.74
Baseline accuracy =  0.65

In [127]:
print("Cat Baseline accuracy = ", round(sklearn.metrics.accuracy_score(new_df.actual, 
                                                                  new_df.cat_base, 
                                                                  normalize = True, 
                                                                  sample_weight = None), 2))

Cat Baseline accuracy =  0.35

In [120]:
print("Model 1 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model1, 
                                                                    labels=None, pos_label='dog', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))
print("Model 2 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model2, 
                                                                    labels=None, pos_label='dog', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))
print("Model 3 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model3, 
                                                                    labels=None, pos_label='dog', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))
print("Model 4 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model4, 
                                                                    labels=None, pos_label='dog', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))

Model 1 precision =  0.89
Model 2 precision =  0.893
Model 3 precision =  0.66
Model 4 precision =  0.731

In [135]:
print("Model 1 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model1, 
                                                                    labels=None, pos_label='cat', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))
print("Model 2 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model2, 
                                                                    labels=None, pos_label='cat', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))
print("Model 3 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model3, 
                                                                    labels=None, pos_label='cat', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))
print("Model 4 precision = ", round((sklearn.metrics.precision_score(new_df.actual, new_df.model4, 
                                                                    labels=None, pos_label='cat', 
                                                                    average='binary', sample_weight=None, 
                                                                    zero_division='warn')), 3))

Model 1 precision =  0.69
Model 2 precision =  0.484
Model 3 precision =  0.358
Model 4 precision =  0.807

In [119]:
print("Model 1 recall perc = ", round((sklearn.metrics.recall_score(new_df.actual, new_df.model1, labels=None, pos_label='dog', 
                             average='binary', sample_weight=None, zero_division='warn')), 3))
print("Model 2 recall perc = ", round((sklearn.metrics.recall_score(new_df.actual, new_df.model2, labels=None, pos_label='dog', 
                             average='binary', sample_weight=None, zero_division='warn')), 3))
print("Model 3 recall perc = ", round((sklearn.metrics.recall_score(new_df.actual, new_df.model3, labels=None, pos_label='dog', 
                             average='binary', sample_weight=None, zero_division='warn')), 3))
print("Model 4 recall perc = ", round((sklearn.metrics.recall_score(new_df.actual, new_df.model4, labels=None, pos_label='dog', 
                             average='binary', sample_weight=None, zero_division='warn')), 3))

Model 1 recall perc =  0.803
Model 2 recall perc =  0.491
Model 3 recall perc =  0.509
Model 4 recall perc =  0.956

In [122]:
print(sklearn.metrics.classification_report(new_df.actual, new_df.model1, labels=None, 
                                      target_names=None, sample_weight=None, digits=2, 
                                      output_dict=False, zero_division='warn'))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [123]:
print(sklearn.metrics.classification_report(new_df.actual, new_df.model2, labels=None, 
                                      target_names=None, sample_weight=None, digits=2, 
                                      output_dict=False, zero_division='warn'))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [124]:
print(sklearn.metrics.classification_report(new_df.actual, new_df.model3, labels=None, 
                                      target_names=None, sample_weight=None, digits=2, 
                                      output_dict=False, zero_division='warn'))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [125]:
print(sklearn.metrics.classification_report(new_df.actual, new_df.model4, labels=None, 
                                      target_names=None, sample_weight=None, digits=2, 
                                      output_dict=False, zero_division='warn'))

              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000